/* Uni code */

header, body {
  font-family: "montserrat", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #050517;
  color: #f7f7f7;
}

.content_wrap /* tells the page to center everything */ {
  width: 80%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}


/* /////// Header code //////////*/

header  {
  position: relative;
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto;
  background-color: #050517;
  box-shadow: 0px 4px 50px rgba(80, 80, 80, 0.25);/* drop shadow */
  font-family: "Abril Fatface";
}

.logo_header {
  display: block;
  padding: 9px 31px;
  height: 80px;
  left: 0px;
  top: -4px;
  background: #F0C808;
  border-radius: 0px 0px 10px 10px;
}

/*  Hamburger menu */

.nav_left a, .nav_right a {
  text-decoration: none;
  padding: 10px;
  color: #d2d2d2;
}

.nav_left {
  position: absolute;
  left: 180px;
  width: 100%;
  top: 8px;
  line-height: 32px;
  text-align: left;
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.nav_left li, .nav_left a{
  display: inline-block;
}

.nav_left a {
  border: 1px solid #050517;
  border-radius: 5px;
}
.nav_left a:hover {
  background: #2E1B3B;
  border: 1px solid #2E1B3B;
  border-radius: 5px;
}


#menu_checkbox, .hamburger_icon {
  display: none;
}

.fa-solid, .fa-bars {    /*hamburger menu icon */
  color: #d2d2d2;
}

@media (max-width:1100px) {
  .nav_left {
    display: none;
  }
  #menu_checkbox:checked ~ .nav_left, .hamburger_icon{
    display: show;
    display: block;
}
.nav_left {
  position: relative;
  left: 0px;
  top: 0px;
  padding-bottom: 10px;
  margin: 0px;
}
.nav_left li {
  display: block;
}

.nav_left a {
  width: 90%;
}

.hamburger_icon {
  position: absolute;
  left: 240px;
  top: 40px;
}

}

/* nav right side */

.nav_right {
  display: flex;
  position: absolute;
  right: 0px;
  top: 30px;
  margin-right: 5px;
}
.nav_right li, .nav_right a{
  display: inline-block;
}

.nav_right a {
  padding: 10px;
}

.nav_right a:hover {
  background: #2E1B3B;
  border: 1px solid #2E1B3B;
  border-radius: 5px;
}

.active_page {
  color: #F7F7F7;
  border-style: solid;
  border-color: #2E1B3B;
  text-decoration: underline;
}

/* ///////// Footer code //////// */

footer  {
  position: relative;
  display: block;
  max-width: 1440px;
  height: auto;
  margin: auto;
  background-color: #050517;
  box-shadow: 0px 4px 50px rgba(80, 80, 80, 0.25);/* drop shadow */
}

.logo_footer {
    display: flex;
    padding: 9px 31px;
    gap: 8px;
    position: absolute;
    height: 80px;
    align-items: center;
    bottom: 0px;
    background: #F0C808;
    border-radius: 10px 10px 0px 0px;
}

.footer_space {
  margin-top: 20px;
}


/* /////////// Home page //////////// */

/* Movie screen design */
  
.headerdesign {
  position: relative;
  height: 735px;
  width: 1200px;
  text-align: center;
  align-items: center;
  color: #f7f7f7;
}

headergradient {
  /*background*/
  position: absolute;
  height: auto;
  left: 0px;
  right: 0px;
  top: 84px;
  bottom: 200px;
  background: radial-gradient(56.02% 56.02% at 50% 64.69%,
      #4f3362 0.09%,
      #2b1d3e 29.54%,
      #050517 100%);
}

.headerscreenmes {
  position: absolute;
  width: 704px;
  height: 345px;
  left: calc(50% - 704px/2);
  top: 86px;
}

headerscreen {
  box-sizing: border-box;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border: 3px solid #2E1B3B;
  box-shadow: 0px 4px 70px 2px #D2D2D2;
  border-radius: 8px;
}

headerscreen:hover {
  background: radial-gradient(91.59% 91.59% at 50% 50.14%, rgba(27, 14, 44, 0) 0%, #1B0E2C 100%);
}

.squareeyes_glasses {
  position: absolute;
  width: 104.5px;
  height: 61.95px;
  left: calc(50% - 104.5px/2 - 0.25px);
  top: 183px;
}
.Squareeyes_logoname {
  position: absolute;
  top: 213px;
  left: calc(50% - 286px/2);
  max-height: 245px;
  max-width: 50vw;
  object-fit: scale-down;
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  display: flex;

}

.logo_undertext {
  position: absolute;
  width: 628px;
  max-height: 22px;
  left: calc(50% - 628px/2 - 2px);
  top: 292px;

  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.batmanseats {
  position: absolute;
  display: flex;
  width: 1200px;

  max-height: 358px;
  top: 400px;
  object-fit: cover;
  margin: 0px auto;
  justify-content: center;
  align-items: center;

}

.arrowdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 81.93px;
  height: 93.99px;
  left: calc(50% - 81.93px/2 - 0.04px);
  bottom: 10%;
  transition: transform 0.3s; /*adding smooth transition */
}

.arrowdown:hover {
  transform: scale(1.2);
}