/* Uni code */

html {
  --dark_purple: #050517;
  --purple: #2E1B3B;
  --yellow: #F0C808;
  --greywhite: #d2d2d2;
  --white: #f7f7f7;

  scroll-behavior: smooth;

  font-size: 16px;
}

header, body {
  font-family: "montserrat", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #050517;
  color: var(--white);
  
  margin: 0px auto;
}

.content_wrap /* tells the page to center everything */ {
  width: 80%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}


/* /////// Header code //////////*/

header  {
  position: relative;
  display: block;
  width: 80%;
  height: auto;
  margin: 0px auto;
  background-color: var(--dark_purple);
  box-shadow: 0px 4px 50px rgba(80, 80, 80, 0.25);/* drop shadow */
  font-family: "Abril Fatface";
}

.logo_header {
  display: block;
  padding: 9px 31px;
  height: 80px;
  left: 0px;
  top: -4px;
  background: var(--yellow);
  border-radius: 0px 0px 10px 10px;
  margin-top: 0px;
}

/*  Hamburger menu */

.nav_left a, .nav_right a {
  text-decoration: none;
  padding: 10px;
  color: var(--greywhite);
}

.nav_left {
  position: absolute;
  left: 180px;
  width: 100%;
  top: 8px;
  line-height: 32px;
  text-align: left;
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
}

.nav_left li, .nav_left a{
  display: inline-block;
}

.nav_left a {
  border-radius: 5px;
  box-sizing: border-box;
}
.nav_left a:hover {
  background: var(--purple);
  outline: 1px solid var(--purple);
  border-radius: 5px;
}

.active_page {
  box-sizing: border-box;
  color: var(--white);
  border-bottom: 5px solid var(--purple);
}


#menu_checkbox, .hamburger_icon {
  display: none;
}

.fa-solid, .fa-bars {    /*hamburger menu icon */
  color: var(--greywhite);
}

@media (max-width:1140px) {
  .nav_left {
    display: none;
  }
  #menu_checkbox:checked ~ .nav_left, .hamburger_icon{
    display: show;
    display: block;
}
.nav_left {
  position: relative;
  left: 0px;
  top: 0px;
  padding-bottom: 10px;
  margin: 0px;
}
.nav_left li {
  display: block;
}

.nav_left a {
  width: 90%;
}

.hamburger_icon {
  position: absolute;
  left: 240px;
  top: 40px;
}
.active_page {
  box-sizing: border-box;
  color: var(--white);
  border-left: 5px solid var(--purple);
  border-bottom: none;
}

}

/* nav right side */

.nav_right {
  display: flex;
  position: absolute;
  right: 0px;
  top: 30px;
  margin-right: 5px;
}
.nav_right li, .nav_right a{
  display: inline-block;
}

.nav_right a {
  padding: 10px;
}

.nav_right a:hover {
  background: var(--purple);
  outline: 1px solid var(--purple);
  border-radius: 5px;
}

/* ///////// Footer code //////// */

footer  {
  position: relative;
  display: block;
  max-width: 1440px;
  height: auto;
  margin: auto;
  background-color: var(--dark_purple);
  box-shadow: 0px 4px 50px rgba(80, 80, 80, 0.25);/* drop shadow */
}

.logo_footer {
    display: flex;
    padding: 9px 31px;
    gap: 8px;
    position: absolute;
    height: 80px;
    align-items: center;
    bottom: 0px;
    background: var(--yellow);
    border-radius: 10px 10px 0px 0px;
}

.footer_space {
  margin-top: 20px;
}


/* /////////// Home page //////////// */

/* Movie screen design */
  
.headerdesign {
  position: relative;
  height: 735px;
  max-width: 100%;
  text-align: center;
  align-items: center;
  color: var(--white);
  margin-top: 5vh;
}

headergradient {
  /*background*/
  position: absolute;
  height: auto;
  left: 0px;
  right: 0px;
  top: 84px;
  bottom: 200px;
  background: radial-gradient(56.02% 56.02% at 50% 64.69%,
      #4f3362 0.09%,
      #2b1d3e 29.54%,
      #050517 100%);
}

.headerscreenmes {
  position: absolute;
  left: calc(50% - 704px/2);
  top: 86px;
  width:fit-content
}

headerscreen {
  box-sizing: border-box;
  position: absolute;
  width: 704px;
  height: 345px;
  border: 3px solid var(--purple);
  box-shadow: 0px 4px 70px 2px #D2D2D2;
  border-radius: 8px;
  transition: all 0.3 ease;
}

headerscreen:hover {
  background: radial-gradient(91.59% 91.59% at 50% 50.14%, rgba(27, 14, 44, 0) 0%, #1B0E2C 100%);
}

.squareeyes_glasses {
  position: absolute;
  width: 104.5px;
  height: 61.95px;
  left: calc(50% - 104.5px/2 - 0.25px);
  top: 183px;
}
.Squareeyes_logoname {
  position: absolute;
  display: flex;
  top: 213px;
  left: calc(50% - 286px/2);
  max-height: 245px;
  max-width: 50vw;
  object-fit: scale-down;
  font-weight: 800;
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 49px;
  text-transform: uppercase;
}

.logo_undertext {
  position: absolute;
  width: 628px;
  max-height: 22px;
  left: calc(50% - 628px/2 - 2px);
  top: 292px;

  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 22px;
}

.batmanseats {
  position: absolute;
  display: flex;
  max-width: 75%;
  min-width: 750px;
  left: 50%;
  transform: translateX(-50%);
  max-height: 358px;
  top: 400px;
  object-fit: cover;
}

.arrowdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 81.93px;
  height: 93.99px;
  left: calc(50% - 81.93px/2 - 0.04px);
  bottom: 10%;
  transition: transform 0.3s; /*adding smooth transition */
}

.arrowdown:hover {
  transform: scale(1.1) translateY(20px);
}

/*  section1 design - crewpicture*/

.section1 {
  padding-top: 20%;
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1500px;
  margin: 40px auto 0px ;
}

.section1_info {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 1rem;
  align-items: flex-end;
}

.section1_info a {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--greywhite);
  color: var(--greywhite);
  text-decoration: none;
  text-transform: uppercase;
  width: fit-content;
}

.section1_info a:hover {
  color: var(--white);
  font-weight:600;
}

.section1_image {
  flex: 3;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-left: var(--purple) 3px solid;
  padding-left: 20px;
}

.section1 img {
  max-width: 100%;
  max-height: auto;
  object-fit: cover;
  
}


/* Section2 design  dots part*/

.section2 {
  margin: 170px auto;
  background-color: var(--purple);
  max-width: 100%;
  padding: 4% 0px;
  text-align: left;
  max-width: 2150px;
}

.section2_area {
  
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0px auto;
}

.section2_row p, .section2_row img {
  display: inline-block;
  flex-direction: row;
  vertical-align: middle;
  margin: 10px;
}

.section2_row p {
  width: 70%;
  font-size: 1rem;
}

/* Section3 design - batman part */

.section3 {
  position: relative;  
  margin: 200px auto 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1500px;
  margin: 0px auto;
}

.section3_info {
  flex: 1;
  padding: 20px;
  flex-direction: column-reverse;
  text-align: left;
  font-size: 1rem;
}
.section3_image {
  flex: 3;
  justify-content: center;
  border-right: var(--purple) 3px solid;
  padding-right: 20px;
}

.section3 img {
  max-width: 100%;
  max-height: auto;
  object-fit: cover;
  
}

/* Section 4 - movies */

.section4 {
  min-height: 424px;
  margin: 170px auto;
  max-width: 1500px;
}
.section4 div {
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-gap: 20px;
}

.section4 h2 {
  grid-column: -1/1;
  font-size: 1rem;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section4 img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  grid-column: -1/1;
}

.section4 img:hover {
  outline: 2px solid var(--purple);
}

.section4_movie {
  margin: 0px;
}

/* Section 5 - most popular right now*/

.section5 {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1500px;
  margin: 0px auto;
}

.section5_image {
  flex: 1;
  width: cover;
  justify-content: right;
  border-right: 3px solid var(--purple);
  padding-right: 20px;
}

.section5_info {
  flex: 1;
  padding: 20px;
}

.section5 h2 {
  font-family: 'Abril Fatface', 'Montserrat', Verdana, Geneva, Tahoma, sans-serif ;
  font-weight: 100;
  font-size: 2.2rem;
  line-height: 49px;
}

.section5 h3 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
}

.section5 a {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--greywhite);
  border: 1px solid var(--greywhite);
  border-radius: 5px;
  padding: 8px;
  margin-top: 50px;
  width: fit-content;
}

.section5_info a:hover {
  color: var(--white);
  font-weight:600;
}
