body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    position: relative;
    width: 390px;
    background-color: #050517;
    margin-top: 0px;
    color: #d2d2d2;
    padding: 10px;
}
nav a {
    color: #d2d2d2;
    text-decoration: none;

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;

    border: 1px solid #050517;
    border-radius: 5px;
    font-family: "Abril Fatface";
    font-size: 20px;
    text-align: center;
}

nav li,
#menu_checkbox {
    display: none;
}

#menu_checkbox:checked ~ nav li {
    display: block;
}

nav {
    position: absolute;
    background: #676787;
    opacity: 100%;
    top: 0px;
    left: 45px;
}

.fa-solid,
.fa-bars {
    /*hamburger menu icon */
    color: #d2d2d2;
}

nav a {
    display: block;
    color: #f7f7f7;
    /*text */
    padding: 10px 20px;
    font-size: 12px;
}

@media (min-width:600px) {
    nav {
        top: 0px;
        left: 0px;
        background: none;
        border: 1px solid #050517;
    border-radius: 5px;
    font-family: "Abril Fatface";
    font-size: 20px;
    text-align: center;
    }

    nav li {
        display: inline-block;
        position: static;
        
    }
    .hamburger_icon {
        display: none;
    }

    nav a {
        display: inline-block;
        background: #2E1B3B;
}
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(50% - 84px/2 - 1px);
    top: 35px;
}