html {
    --dark_purple: #050517;
    --purple: #2E1B3B;
    --yellow: #F0C808;
    --greywhite: #d2d2d2;
    --white: #f7f7f7;

    position: relative;
}

h1 {
    font-size: 1.8rem;
    font-weight: 200;
}

/* Movie categorie nav */
.movie_nav a {
    text-decoration: none;
    padding: 8px;
    color: var(--greywhite);
  }
  
  .movie_nav {
    display: flex;
    font-size: 1.1rem; 
    background-color: var(--dark_purple);
    box-shadow: 0px 4px 50px rgba(80, 80, 80, 0.25);
    border-radius: 8px;
    height: auto;
  }
  .movie_nav ul {
    padding: 8px;
  }

  .movie_nav li, .movie_nav a{
    display: inline-flex;
  }
  
  .movie_nav a {
    border-radius: 5px;
    box-sizing: border-box;
  }
  .movie_nav a:hover {
    background: var(--purple);
    outline: 1px solid var(--purple);
    border-radius: 5px;
  }
  
  .active_movie {
    box-sizing: border-box;
    background-color: var(--purple);
    color: var(--white);
  }
  
  .movie_nav label:nth-child(1) {
    display: none;
  }
  
  #moviemenu_checkbox {
    display: none;
  }
  
  .movies {
    position: relative;
    padding-bottom: 100px;
  }

  
  /* Movie cards */

  .movies {
    min-height: auto;
    margin: 170px auto;
    max-width: 1500px;
  }
  .movies .movie_card {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-gap: 20px;
  }


  .movie_card {
    display: flex;
    flex-direction: row;
  }

  .movie_cover {
    flex: 1fr;
    padding-right: 1rem;
    border-right: 2px solid var(--purple);
  }
  .movie_card img {
    display: flex;
    max-height: 420px;
    justify-content: end;
    justify-self: end;
    align-items: end;
    text-align: flex-end;
  }

  .movie_info {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
    justify-content: space-around ;
  }

  .icon_heart {
    content: url(/icons/icon_heart.svg);
    width: 2rem;
    height: 2rem;
  }
  .icon_pluss {
    content: url(/icons/icon_pluss.svg);
    width: 2rem;
    height: 2rem;
  }

  .icons {
    display: flex;
    gap: 1rem;
    padding: 8px;
  }

  .shopping_bag {
    content: url(/icons/icon_shopping_bag_final.png);
    width: 1rem;
    height: auto;
  }
  .buttons {
    display: flex;
    gap: 4px;
  }
  .buttons button {
    display: flex;
    gap: 8px;
    align-items: center;
    height: 1.8rem;
    border-radius: 5px;
    
    width: 100%;
  }
  .buttons button a {
    
    text-transform: uppercase;
    text-decoration: none;
    color: var(--dark_purple);
  }

  
  @media (max-width:1100px) {

    /* Changes the categories menu */
    .movie_nav li {
        display: none;
    }
    .movie_nav label:nth-child(1) {
        display: flex;
        p
    }
    .categories {
        background-color: var(--purple);
        padding: 8px;
        border-radius: 5px;
        cursor: pointer;
    }
    #moviemenu_checkbox:checked ~ .movie_nav li{
        display: flex;
    }
    #moviemenu_checkbox:checked ~ .categories {
        background-color: var(--dark_purple);
    }
    #moviemenu_checkbox:checked ~ .movie_nav li:nth-child(2) { 
        display: none;
      }
    .movie_nav ul {
        margin: 8px 0px;
    } 
    .movie_nav li {
        margin: 8px 0px;
    }
    .movie_nav a {
        width: 100%;
    }
    /* stop - Changes the categories menu */
  }